h1, h3, ul, ol, p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 200px;
    margin-right: 200px;
}

h1, h3 {
    color: brown;
    font-size: 2rem;
}

p {
    font-style: italic;
    font-weight: bold;
}

img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-left: 850px;
}

ul li {
    list-style-type: none;
    text-decoration: none;
}